@import "../lib/_mixins.scss";

.header {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 50px;
    align-items: center;
    h1{
        @include font-styles(32, 34, 700);
    }
    .logo {
        @include font-styles(32, 34, 700);
        span {
            background-color: var(--red);
            width: 48px;
            height: 48px;
        }
    }
}
