footer
    div.container
        a(href="/").logo.icon-link
            span.icon--camera-lens-fill
            .
                Watch-E
        ul.clean
            li
                a(href="") #{__('Product')}
            li
                a(href="") #{__('FAQ')}
            li
                a(href="") #{__('Dashboard')}
        ul.clean
            li
                a(href="" title="linked.in").icon-link
                    span.icon--linkedin-fill
            li
                a(href="" title="ghithub").icon-link
                    span.icon--github-line
            li
                a(href="")
                    span
        span.icon--camera-lens-fill.bg-icon

script(src="/index.js") 