nav
    div.container
        div.logo
            span.icon--camera-lens-fill
            .
                Watch-E
        ul.nav-links.clean
            li
                a(href="/product") #{__('Product')}
            li
                a(href="/faq") #{__('Faq')}
        ul.login
            li
                a(href="/register") #{__('Sign in')}
            li
                a(href="/login").btn #{__('Sign Up')}
        span.icon--menu-line.menu-toggler