footer {
    padding: 100px 0 70px;
    z-index: 1;
    background-color: var(--main-font-color);
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        height: 250px;
        background-color: var(--red);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        clip-path: polygon(0 0%, 100% 0%, 100% 10%, 0% 90%);
    }
    &:after {
        content: "";
        z-index: -1;
        height: 250px;
        background-color: var(--background-color);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        clip-path: polygon(0 0%, 100% 0%, 100% 5%, 0% 85%);
    }
    .container {
        display: flex;
        justify-content: space-between;
        padding: 150px 0 0;
        align-items: center;
    }
    .logo {
        color: var(--secondary-font-color);
        span {
            background-color: var(--secondary-font-color);
        }
    }
    ul {
        display: flex;
        gap: 35px;
    }
    a {
        span {
            background-color: var(--secondary-font-color) !important;
            transition: background-color 0.3s;
        }
        &:hover {
            span {
                background-color: var(--secondary-font-color-hover) !important;
            }
        }
    }
    .bg-icon {
        z-index: -2;
        background-color: var(--secondary-font-color);
        opacity: 10%;
        position: absolute;
        bottom: -350px;
        right: -350px;
        width: 1200px;
        height: 1200px;
    }

    @media only screen and (max-width: 1024px) {
        padding: 50px 0 30px;
        .container{
            padding: 0;
        }
        ul:first-of-type {
            display: none;
        }
        .bg-icon {
            display: none;
        }
        &:before {
            height: 50px;
            clip-path: polygon(0 0%, 100% 0%, 100% 20%, 0% 90%);
        }
        &:after {
            height: 50px;
            clip-path: polygon(0 0%, 100% 0%, 100% 5%, 0% 75%);
        }
    }
}
