form {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    .form-row {
        position: relative;
        label:not(.checkbox):not(.radio):not(.file):not(.textarea) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            left: 10px;
            transition: font-size 0.2s, top 0.2s;
            @include font-styles(16, 18, 400);
        }
        input {
            padding: 10px;
            border: 1px solid var(--red);
            border-radius: 20px;
            &:focus,
            &:not(:placeholder-shown) {
                & ~ label:not(.checkbox):not(.radio):not(.file):not(.textarea) {
                    top: -10px;
                    @include font-styles(14, 16, 400);
                }
            }
        }
    }
    hr {
        width: 300px;
        height: 1px;
        background-color: var(--red);
        border: 0;
    }
}
